/*
  _   _  _         _      _    
 | \ | |(_)       | |    | |   
 |  \| | _   __ _ | |__  | |_  
 | . ` || | / _` || '_ \ | __| 
 | |\  || || (_| || | | || |_  
 |_| \_||_| \__, ||_| |_| \__| 
             __/ |             
            |___/              
*/
body
{
    background-color: rgb(42, 41, 46);
}
h1
{
    color: rgb(210, 210, 210);
}
p
{
    color: rgb(240, 230, 230);
}